// color palette
@import "_colors";

//font settings
@import "_font";

body {
    .wrapper {
        .aside {
            color: white;
            background-color: $navy-blue;
        }
        .article {
            section {
                border-color: black;
            }
        }
    } 
}